body {
    font-family: Arial, sans-serif;
    background-color: rgb(226, 174, 209);
    color: black;
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(226, 174, 209);
    color: black;
    text-align: center;
    padding: 1em 0;
}

h2 {
    color: rgb(3, 3, 3);
}

.section{
    margin: 30px;
    padding: 30px;
    background-color: rgb(233, 228, 228);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria img{
    
    margin: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around

}

.foto{
    width: 50%;
   
}





.footer{
    text-align: center;
    padding: 1em 0;
    background-color: rgb(226, 174, 209);
    color: rgb(14, 14, 14);
    position: fixed;
    bottom:0;
    width: 100%;

}